<div class="container">
  <table mat-table>
    <thead>
      <th mat-header-cell>ID</th>
      <th mat-header-cell>Date</th>
      <th mat-header-cell>Time</th>
      <th mat-header-cell>Created By</th>
      <th mat-header-cell></th>
    </thead>
    <tbody>
      <tr :key="Appointment.id" *ngFor="let Appointment of appointments">
        <td mat-cell>{{ Appointment.id }}</td>
        <td mat-cell>{{ Appointment.Date }}</td>
        <td mat-cell>{{ Appointment.Time}}</td>
        <td mat-cell> <img src="{{ Appointment.Photo }}"> {{ Appointment.Maker}}</td>
        <td mat-cell><button mat-raised-button color="accent" (click)="deleteAppointment">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
