.container {
  margin: 2rem;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 5px 5px 5px 5px gray;
  width: 100%;
}

table {
  width: 100%;
  text-align: center;
  border-radius: 12px;
  overflow: hidden;
}
th, td {
  padding: 12px;
}
thead{
  background-color: gray;
  color: pink;
}
tbody tr{
  background-color: whitesmoke;
}

input {
  text-align: center;
  border: none;
  background-color: whitesmoke;
}
