<button mat-raised-button color="accent" routerLink="/home">
  Home
</button>

<mat-card>
  <form [formGroup]="signupForm" (ngSubmit)="signup()">
    <p>
      <mat-form-field appearance="outline" matFormFieldControl>
        <mat-label>Full Name</mat-label>
        <input autocomplete="off" matInput formControlName="displayName" type="text">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" type="email" matInput placeholder="Email Address">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input autocomplete="off" matInput formControlName="password" type="password">
      </mat-form-field>
    </p>
    <div *ngIf="firebaseErrorMessage != ''" class="error-style">
      <span>{{ firebaseErrorMessage }}</span>
    </div>
    <input type="text" formControlName="date" autocomplete="off" hidden value="{{ date.getDate().toPrecision() }}">
    <button mat-raised-button color="accent" (click)="newUser()">Sign up</button>
  </form>
</mat-card>
