div{
  background-color: rgb(255, 105, 130);
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 20%;
  transition: width 0.2s;
}

div:hover{
  width: 100%;
}

a {
  padding: 1rem 5rem;
  margin-left: 1rem;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  border-radius: 12px 0 0 12px;
}

i {
  margin-right: 20px;
}

a:hover{
  background-color: pink;
  color: rgb(255, 105, 130);
}
